@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  background-color: rgba(0, 0, 0);
  padding: 0;
  margin: 0;
  height: 100%;
}

html,
body,
#root {
  background-color: #11131a;
  width: 100%;
  min-height: 100%;
}

.leaflet,
.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet {
  display: flex;
}

.leaflet-div-icon {
  background: none;
  border: none;
}
.leaflet-div-icon-red {
  background: none;
  border: none;
  filter: hue-rotate(130deg);
}
.leaflet-div-icon-yellow {
  background: none;
  border: none;
  filter: hue-rotate(90deg);
}
.leaflet-div-icon-green {
  background: none;
  border: none;
  filter: hue-rotate(250deg);
}
